# PyInstaller files
build/
dist/
*.spec

# Python temporary files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# Executable files
*.exe

# Other temporary files
*.log
*.tmp